<!DOCTYPE html>
<html>
<head>
  <title>Alexandra Chen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel='shortcut icon' href='/assets/sites/ac_black.png' type='image/x-icon'/ >
</head>
<body>
<%= render partial: 'layouts/navbar' %>

  <div class="container">
    <% flash.each do |name, msg| %>
      <% if alert %>
        <%= content_tag(:div, msg, class:"alert alert-danger") %>
      <% elsif notice %>
        <%= content_tag(:div, msg, class:"alert alert-success") %>
      <% end %>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
